@import "tailwindcss";

/* ===================== Colors ===================== */
.bg-light {
  background: #fff6ff;
}
.text-light {
  color: #fff6ff;
}

.solid-bg {
  background-color: #5e315e;
}

.text-solid {
  color: #5e315e;
}

.p-text {
  color: #582f58;
}

.footer-bg {
  background-color: #3f1f3f;
}

.yellow-text {
  color: #fbc029;
}
.yellow-bg {
  background-color: #fbc029;
}

/* ===================== Font Classes ===================== */

.font-lato {
  font-family: var(--font-lato), system-ui, sans-serif;
}

.font-playfair {
  font-family: var(--font-playfair), serif;
}

/* Lato weights */
.font-lato-thin {
  font-weight: 100;
}
.font-lato-light {
  font-weight: 300;
}
.font-lato-regular {
  font-weight: 400;
}
.font-lato-semibold {
  font-weight: 600;
}
.font-lato-bold {
  font-weight: 700;
}
.font-lato-black {
  font-weight: 900;
}

/* Playfair weights */
.font-playfair-regular {
  font-weight: 400;
}
.font-playfair-medium {
  font-weight: 500;
}
.font-playfair-semibold {
  font-weight: 600;
}
.font-playfair-bold {
  font-weight: 700;
}
.font-playfair-extrabold {
  font-weight: 800;
}
.font-playfair-black {
  font-weight: 900;
}

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */
